<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" poster="assets/poster_next.jpg">
        <source src="assets/welcomeVideo.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
        <div class="d-flex h-35 text-center align-items-center mt-5">
            <div class="w-100 text-white">
                <h1 class="display-3 main-headline">Danish cinema at its best</h1>
                <p class="lead mb-0">Discover the cultural film heritage of Denmark</p>
            </div>
        </div>
        <div class="row w-100 justify-content-around mt-5">
            <img src="assets/posters/1.jpg" alt="" class="poster" @fade>
            <img src="assets/posters/2.jpg" alt="" class="poster" @fade>
            <img src="assets/posters/3.jpg" alt="" class="poster" @fade>
            <img src="assets/posters/4.jpg" alt="" class="poster" @fade>
            <img src="assets/posters/5.jpg" alt="" class="poster" @fade>
            <img src="assets/posters/6.jpg" alt="" class="poster" @fade>
            <img src="assets/posters/7.jpg" alt="" class="poster" @fade>
            <img src="assets/posters/8.jpg" alt="" class="poster" @fade>
            <img src="assets/posters/9.jpg" alt="" class="poster" @fade>
            <img src="assets/posters/10.jpg" alt="" class="poster" @fade>
        </div>
    </div>
</header>
