/* Colors */
$blueGray: #263238;
$lightWhite: #dedede;
$main: #32b859;

h2 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: $main;
  }

form {
    width: 400px;
}
  
  .btn-primary {
    display: block;
    width: 30%;
    padding: 10px;
    position: absolute;
    right: 0;
    bottom: -90px;
    background-color: transparent!important;
    border-color: $main!important;
    color: $lightWhite!important;
  }

  .btn-primary:hover {
    background-color: $main!important;
  }
  
  label {
      margin-top: 38px!important;
  }

  .invalid {
    font-size: 12px;
    display: none;
    position:relative;
    bottom: -100px;
  }

  .invalid div {
    font-size: 12px;
    text-align: center;
    color: #cb444a;
  }