<div class="container">

<div class="row">
  <div class="userBox" *ngFor="let user of users">
      <div class="row user" id="{{user._id}}">
        <div class="col-3">
          <div *ngIf="user.Gender == 'M'"><img src="../../assets/default-man.jpg"></div>
          <div *ngIf="user.Gender == 'F'"><img src="../../assets/default-woman.jpg"></div>
        </div>
        <div class="col-9">
          <div id="name">{{user.Name}}</div>
          <div>{{user.Email}}</div>
          <div *ngIf="user.Gender == 'M'" class="gender"><div>Male</div></div>
          <div *ngIf="user.Gender == 'F'" class="gender"><div>Female</div></div>
        </div>
      </div>
  </div>

</div>
</div>