/* Colors */
$blueGray: #263238;
$lightWhite: #dedede;
$main: #32b859;

.navbar {
    background-color: rgba(0,0,0,0.1)!important;
    height: 80px;
}

.navbar-brand {
    color: $main;
    font-weight: bold;
    margin-right: 50px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.navbar-brand:hover {
    color: $main;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.navbar-brand:visited {
    color: $main;
}

.btn {
    background-color: transparent!important;
    border-color: $main!important;
    color: $lightWhite!important;
  }
  
  .btn:hover {
    background-color: $main!important;
  }

  #notUser {
      font-size: 12px;
      margin-left: 10px;
  }

  .dropdown-menu {
    width: 300px;
    background-color: rgba(255,255,255,0.95)
  }

  .dropdown-menu li div a {
    color: $blueGray;
  }

  .dropdown-menu li div a:hover {
    color: $main;
  }

  .dropdown-menu li div a:last-child {
    margin-bottom: -15px;
  }

  input {
    margin-top: 0px!important;
    color: $blueGray!important;
  }

  #loginBtn {
      background-color: $main!important;
      color: white;
      margin-bottom: -15px;
  }

  #name {
      width: 100px!important;
  }
.searchIcon{
  opacity: 0.5;
  height: 20px;
  width: auto;
}


  .invalid {
    font-size: 12px;
    display: none;
    padding-top: 15px;
  }

  .invalid div {
    font-size: 12px;
    text-align: center;
    color: red;
  }
